.contenedor__foto__Fatima
{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    background-size: cover;
    background-image: url(img/Imagen\ de\ WhatsApp\ 2025-03-28\ a\ las\ 08.10.01_f0845769.jpg);
}
.contenedor__texto__Fatima
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.titulo_fatima
{
    color: rgb(242, 12, 169);
}
.section__Fatima {
    margin: 15px auto;
    padding: 10px;
    text-align: center;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}