.containerCristian{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}

.Presentacion{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}

.sectionCristian{
    border: 1px solid black;
    padding: 30px;
    height: 500px;
    border-radius: 10px;
}

.imagenCristian{
    padding-left: 60px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}